body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #eee;
}

.admin-panel {
  color: #fff;
  opacity: 0.5;
}

.admin-panel:after {
  display: block;
  content: "";
  position: absolute;
  top: 9px;
  right: 6px;
  width: 1px;
  height: 20px;
  background-color: #fff;
}

.admin-btn {
  color: #fff;
  position: relative;
}

.admin-btn::before {
  content: "";
  position: absolute;
  display: block;
  width: 85%;
  height: 1px;
  bottom: 0;
  left: 9px;
  background-color: #fff !important;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.admin-btn:hover {
  color: #fff;
}

.admin-btn:hover::before {
  transform: scaleX(1);
}

.dropdown-menu[data-bs-popper] {
  left: -100px;
}

.fa-cart-shopping {
  color: #0a58ca;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.fa-cart-shopping:hover {
  color: rgb(10, 88, 202, 0.8);
}

.cart-basket {
  padding: 2px 0 0 1px;
  font-size: 0.6rem;
  position: absolute;
  top: -3px;
  right: 4px;
  width: 15px;
  height: 15px;
  color: #fff;
  background-color: #418deb;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  margin: 0;
}

.py-5 {
  margin-top: 1rem !important;
}

.margin {
  margin-bottom: 10px;
}

.w-100 {
  height: 290px;
  object-fit: cover;
}

.border-start {
  border-left: 1px solid transparent !important;
}

.navbar-nav {
  flex-direction: row !important;
}

.container-fluid {
  flex-wrap: nowrap !important;
  max-width: 1100px;
}

.dropdown-menu {
  position: absolute !important;
}

@media (min-width: 768px) {
  .w-100 {
    height: 400px;
    object-fit: cover;
  }

  .border-start {
    border-left: 1px solid #dee2e6 !important;
  }
}

@media (min-width: 992px) {
  .w-100 {
    height: 170px;
    object-fit: cover;
  }
}

@media (min-width: 1200px) {
  .nav-products {
    margin-right: 90px;
  }
}
